
.navbar{
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 200px;
  width: 100%;


  background-color: #f1f1f1;
}

li a{
  display: block;
  color: #000;
  text-height: 50px;

font-weight: bold;
padding: 8px 16px;

font-size: 17px;


  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: #555;
  color: white;

}
.active{
  background-color: #555;
  color: white;
}
.about{
  padding-top: 20px;
  padding-left: 8px;
  display: block;
  margin-right: 100px;
  margin-left: 100px;
  margin-top: 50px;
  text-align: center;
  background-color:#f1f1f1;
  border-radius: 25px;
  padding-bottom: 10px;



}
.mainbody{
  font-family: cursive;


  background-color: #f1f1f1;
  margin-right: 50px;
  height: 260px;

  border-radius: 10px;
  text-align: center;

}

.main{
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-left: 10px;
}
.image{
 padding-right: 10px;
}
.futer{
 display: block;
 padding-left: 270px;
 font-size: 10px;
 margin-bottom: 5px;

}
.os{
  display: block;
  margin-left: 400px;
  background-color: #f1f1f1;
  margin-right: 450px;
  margin-top: 60px;

}
.oslist{
  margin: 1em;
  padding-left: 10px;
  list-style: none;
  padding-right: 30px;

}
.osli{
  padding-left: 120px;
  padding-top: 100px;
  display: flex;
  position: relative;
  flex-direction: column;
}
.listflex{
  display: flex;

}
.image{
  padding-top: 220px;
  padding-left: 100px;
}
